@font-face {
	/* 
    NOTES: 
      - Ce "font" ("FarFromHomecoming") semble être corrompu. Le navigateur ne peut pas le decoder. 
      J'ai essayé de le retélécharger et utilisé ce nouveau mais le problème reste le même.
      - En plus, j'ai essayé de le convertir en d'autre format comme .ttf (pour verifier s'il est valid), 
      mais tous les convertisseurs que j'ai utilisé complainent qu'il est corrompu.
      - Donc on doit le signaler au client.
      - Mais en attendant le "font" valid, j'ai recherché un "font" similaire sur Google pour le remplacer temporairement.
      - J'ai ainsi choisi "SquarePeg" (font-family: "FontFallback" dans le block suivant).
      - Les éléments ou blocks qui utilisent ou sont associés à ce "font" temporaire ont un commentaire "TODO: ..." dans ce fichier-ci.
      - Une fois qu'on a le "font" non-corrompu, on peut juste remplacer ce "font" temporaire.
      - Pour ce faire, il faut
          - remplacer le fichier "../assets/fonts/Typo-FarFromHomecoming.woff2" avec le "font" valid,
        puis mettre à jour le chemin de "src" dans ce block si necessaire.
          - suivre les instructions preséntes dans les blocks ayant le commentaire "TODO:..."
          - supprimer le font temporaire.
  */
	font-family: "FarFromHomecoming";
	src: url(../assets/fonts/Typo-FarFromHomecoming.woff2) format("woff2");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	/*
    NOTE:
      - Ce block contient le font temporaire.
    TODO:
      - supprimer ce block une fois qu'on a un "font" valid dans "FarFromHomecoming".
  */
	font-family: "FontFallback";
	src: url(../assets/fonts/SquarePeg-Regular.ttf) format("TrueType");
}
@font-face {
	font-family: "Montserrat";
	src: url(../assets/fonts/Montserrat-Bold.ttf) format("TrueType");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	src: url(../assets/fonts/Montserrat-SemiBold.ttf) format("TrueType");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	src: url(../assets/fonts/Montserrat-Medium.ttf) format("TrueType");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	src: url(../assets/fonts/Montserrat-Regular.ttf) format("TrueType");
	font-weight: normal;
	font-style: normal;
}

:root {
	/* couleurs */
	--red: #b11313;
	--white: #ffffff;
	--black: #000000;
	--blue: #114c92;

	/* breakpoints */
	--sm: 576px;
	--md: 768px;
	--lg: 992px;
	--xl: 1110px;

	min-width: 390px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: var(--white);
	font-family: "Montserrat", sans-serif;
	font-size: 0.875rem;
}
a,
a:active,
a:visited,
a:focus {
	color: inherit;
	text-decoration: none;
}
ul {
	list-style-type: none;
}

/* 
  Utilise ".container" and ".container-content" ensemble afin d'eviter la répétition de code nécessaire 
  pour pouvoir aligner des différentes sections telles que "header", "main", "footer".
*/
.container {
	width: 100%;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}
.container-content {
	margin: 0 auto;
	width: 100%;
	max-width: var(--sm);
}
@media screen and (min-width: 768px) and (max-width: 992px) {
	.container-content {
		max-width: var(--md);
	}
}
@media screen and (min-width: 992px) and (max-width: 1110px) {
	.container-content {
		max-width: var(--lg);
	}
}
@media screen and (min-width: 1110px) {
	.container-content {
		max-width: var(--xl);
	}
}

.btn {
	display: inline-block;
	font-size: 0.75rem;
	font-weight: 600;
	border-radius: 1.5rem;
	padding: 0.75rem 1.25rem;
	cursor: pointer;
}
.btn-white {
	color: var(--red) !important;
	background-color: var(--white);
	border: 1px solid var(--white);
}
.btn-outline {
	border: 1px solid var(--white);
	color: var(--white);
	background-color: transparent;
}
@media screen and (min-width: 768px) {
	.btn {
		font-size: inherit;
		width: 12rem;
		min-width: max-content;
		text-align: center;
		padding: 0.9rem 1.25rem;
	}
}

.input {
	display: block;
	font: inherit;
	border-radius: 2rem;
	padding: 0.5rem 1rem;
	outline: none;
}
.input-white {
	background-color: var(--white);
	border: 1px solid var(--black);
}
.input-white::placeholder {
	color: var(--black);
}
.input-outline {
	color: var(--white);
	border: 1px solid var(--white);
	background-color: transparent;
}
.input-outline::placeholder {
	color: var(--white);
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}
.icon img {
	width: 60%;
	height: 60%;
}
@media screen and (min-width: 768px) {
	.icon {
		width: 2.5rem;
		height: 2.5rem;
	}
}

.logo {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	height: 2.25rem;
}
.logo img {
	height: 100%;
}
.logo .cross {
	height: 33%;
}
@media screen and (min-width: 768px) {
	.logo {
		height: 2.75rem;
	}
}
@media screen and (min-width: 992px) {
	.logo {
		height: 3.125rem;
	}
}

header {
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;
	position: relative;
}
header .container {
	padding-left: 2.125rem;
	padding-right: 2.125rem;
}
@media screen and (min-width: 768px) {
	header {
		height: 100vmin;
		min-height: 50vmax;
	}
	header .container {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}
}

.nav {
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}
.nav .container-content {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	flex: 1 1 100%;
}
.nav-links {
	display: none;
}
@media screen and (min-width: 768px) {
	.nav {
		background-color: var(--red);
		position: relative;
	}
	.nav-links {
		display: flex;
		justify-content: flex-end;
		gap: 8%;
		width: 100%;
		font-size: 0.9rem;
		padding: 0.375rem 0;
	}
}

.banner {
	display: flex;
	align-items: center;
	height: 100%;
	padding-top: 5.9375rem;
	padding-bottom: 5.9375rem;
	background-image: url(../assets/images/img1.png),
		linear-gradient(var(--black), var(--red));
	background-repeat: no-repeat;
	background-size: auto 100%;
	/* 
    Choisi "50% 100%" (ci-dessous) pour pouvoir pousser l'image (background-image) un peu à droite,
    dans le but de minimiser la superposition entre l'image et le button à coté.
    Cette valeur sera ramenée à "100% 100%" au prochain breakpoint. 
  */
	background-position: 50% 100%;
}
.banner .container-content {
	display: flex;
	flex-direction: column;
}
.banner .title {
	margin-bottom: 0.5rem;
	text-transform: uppercase;
	/* 
    TODO: 
    - ajuster la valeur de "font-size" ci-dessous une fois qu'un "font" valid est obtenu. 
    - supprimer "FontFallback", "letter-spacing", "font-style".
  */
	font-family: "FarFromHomecoming", "FontFallback", sans-serif;
	font-size: 2.25rem;
	font-style: italic;
	letter-spacing: 0.3rem;
}
.banner .description {
	font-size: 1rem;
	margin-bottom: 1.25rem;
}
.banner .btn-group {
	display: flex;
	gap: 0.75rem;
}
@media screen and (min-width: 440px) {
	.banner {
		/* Remet la "background-image" à sa position puisque la superposition avec le button à coté n'est plus problématique. */
		background-position: 100%;
	}
}
@media screen and (min-width: 576px) {
	.banner {
		padding-top: 7rem;
		padding-bottom: 6rem;
	}
	.banner .title {
		margin-bottom: 0.75rem;
		/* 
      TODO: 
        - ajuster la valeur de "font-size" ci-dessous une fois qu'un "font" valid est obtenu. 
        - supprimer ou ajuster la valeur de "letter-spacing"
    */
		font-size: 3rem;
		letter-spacing: 0.5rem;
	}
	.banner .description {
		font-size: 1.1rem;
		margin-bottom: 2rem;
	}
}
@media screen and (min-width: 768px) {
	.banner {
		padding-top: 0;
		padding-bottom: 0;
	}
	.banner .title {
		margin-bottom: 2.5rem;
		/* 
      TODO: 
        - ajuster la valeur de "font-size" ci-dessous une fois qu'un "font" valid est obtenu. 
        - supprimer ou ajuster la valeur de "letter-spacing"
    */
		font-size: 7rem;
		letter-spacing: 0.8rem;
	}
	.banner .description {
		order: 2;
		font-size: 1.25rem;
	}
	.banner .btn-group {
		order: 1;
		margin-bottom: 2.5rem;
	}
}
@media screen and (min-width: 992px) {
	.banner {
		flex: 1 0 100%;
	}
}

.main-section {
	text-align: center;
}
.main-section:nth-child(odd) {
	background-color: var(--red);
}
.main-section:nth-child(even) {
	background-color: var(--blue);
}
.main-section .title {
	text-transform: uppercase;
	margin-bottom: 0.875rem;
	white-space: nowrap;
	/* 
    TODO: 
    - ajuster la valeur de "font-size" ci-dessous une fois qu'un "font" valid est obtenu. 
    - supprimer "FontFallback"
    - supprimer ou ajuster les valeurs de "font-style", "word-spacing", "letter-spacing".
  */
	font-family: "FarFromHomecoming", "FontFallback", sans-serif;
	font-size: 1.65rem;
	font-style: italic;
	word-spacing: 0.1875rem;
	letter-spacing: 0.1rem;
}
.main-section .description {
	margin-bottom: 2rem;
}
.main-section form {
	width: 100%;
	padding: 0 3% 0 5%;
}
.main-section#main-section-2 {
	padding-top: 5rem;
	padding-bottom: 3.75rem;
	background-image: url(../assets/images/img5.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center left;
}
.main-section#main-section-2 .description {
	margin-bottom: 1.875rem;
}
.main-section#main-section-2 .input {
	width: 100%;
	margin-bottom: 1rem;
}
.main-section#main-section-3 {
	padding-top: 2.5rem;
	padding-bottom: 2.8125rem;
	/* 
    On va utiliser "::before" et "::after" pour bien positioner la "background-image" 
    (en combination avec "background-color") de cette section. 
  */
	background-color: transparent;
	position: relative;
	overflow: hidden;
}
.main-section#main-section-3::before,
.main-section#main-section-3::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: var(--red);
}
.main-section#main-section-3::after {
	background-image: url(../assets/images/img6.png);
	background-size: auto 60%;
	background-repeat: no-repeat;
	background-position: center bottom;
	/* Pousser l'image un peu à droite pour minimiser la superposition avec d'autres éléments*/
	transform: translateX(33%);
}
.main-section#main-section-3 .description {
	margin-bottom: 3.75rem;
}
.main-section#main-section-3 .input,
.main-section#main-section-3 .check-group {
	width: 70%;
}
.main-section#main-section-3 .input {
	margin-bottom: 0.625rem;
}
.main-section#main-section-3 .check-group {
	display: grid;
	grid-template-columns: max-content 100%;
	text-align: start;
	align-items: baseline;
	margin: 2.5rem 0 1.875rem 0;
}
.main-section#main-section-3 .check-group a {
	text-decoration: underline;
	white-space: nowrap;
}
.main-section#main-section-3 input[type="checkbox"] {
	margin: 0 0.875rem;
}
.main-section#main-section-2 .input:last-of-type {
	margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
	.main-section .title {
		margin-bottom: 1.25rem;
		/* 
      TODO: 
        - ajuster la valeur de "font-size" ci-dessous une fois qu'un "font" valid est obtenu. 
    */
		font-size: 2.5rem;
	}
	.main-section .description {
		margin-bottom: 1.5rem;
	}
	.main-section .title,
	.main-section .description {
		width: 60%;
	}
	.main-section:nth-child(odd) .title,
	.main-section:nth-child(odd) .description {
		text-align: start;
	}
	.main-section:nth-child(even) .title,
	.main-section:nth-child(even) .description {
		text-align: end;
		margin-left: auto;
		margin-right: 0;
	}
	.main-section#main-section-1 {
		/* 
      On se sert du "::before" de cet element pour afficher sa "background-color" 
      tout en tenant la portion de l'image de "header", qui deborde, affichée avec le texte de cette section.
    */
		position: relative;
		background-color: transparent;
	}
	.main-section#main-section-1::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-color: var(--red);
	}
	.main-section#main-section-2 {
		padding-top: 4.375rem;
		padding-bottom: 5.3125rem;
	}
	.main-section form {
		width: 50%;
		padding: 0%;
	}
	.main-section#main-section-2 form {
		margin: 0 4.5% 0 auto;
	}
	.main-section#main-section-3 {
		padding-top: 4rem;
		padding-bottom: 8rem;
	}
	.main-section#main-section-3::after {
		background-size: auto 100%;
	}
	.main-section#main-section-3 .description {
		margin-bottom: 4.375rem;
	}
	.main-section#main-section-3 .input,
	.main-section#main-section-3 .check-group {
		width: 100%;
	}
	.main-section#main-section-3 .check-group {
		margin: 1.875rem 0 4rem 0;
	}
}
@media screen and (min-width: 992px) {
	.main-section .title,
	.main-section .description {
		width: 50%;
	}
	.main-section form {
		width: 33%;
		padding: 0%;
	}
	.main-section#main-section-3 {
		padding-top: 6.875rem;
		padding-bottom: 17.8125rem;
	}
}

.cards {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 1.5rem;
}
.card {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.card-img {
	margin-bottom: 1.25rem;
}
.card-img img {
	width: 60%;
	display: inline-block;
	max-width: 18.75rem;
}
.card-body {
	margin-bottom: 1.5rem;
}
.card-body li::before {
	/* Ceci est utilisé pour personaliser le "list-style-type" de "li" */
	content: ".";
	display: inline-block;
	font-weight: 500;
	padding: 0 0.5rem;
	transform: translateY(-25%);
}
.card-footer {
	margin-bottom: 4.375rem;
}
@media screen and (min-width: 768px) {
	.cards {
		justify-content: center;
		column-gap: 10%;
		padding-bottom: 3.5rem;
	}
	.card {
		width: 45%;
	}
	.card-body {
		text-align: justify;
		margin-bottom: 2.5rem;
	}
	.card-img {
		margin-bottom: 2.5rem;
	}
	.card-img img {
		width: 100%;
		max-width: 100%;
	}
}
@media screen and (min-width: 992px) {
	.cards {
		justify-content: space-between;
		column-gap: 0%;
	}
	.card {
		width: 28%;
	}
}

footer {
	background-color: var(--black);
	padding-top: 2.8125rem;
	padding-bottom: 1.875rem;
	position: relative;
}
footer::after {
	/* Ceci est utilisé pour faire apparaitre la ligne à la fin de la page (en mobile et tablet seulement) */
	content: "";
	position: absolute;
	bottom: 0.625rem;
	left: 50%;
	transform: translateX(-50%);
	width: 30%;
	height: 0.3rem;
	border-radius: 0.5rem;
	background-color: var(--white);
}
.footer-links {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 1.875rem;
}
.footer-links li {
	margin-bottom: 0.5rem;
}
.footer-links .select-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	transform: translateY(50%);
}
.footer-links select {
	color: var(--white);
	background-color: var(--red);
	border: none;
	outline: none;
	border-radius: 1.25rem;
	padding: 0.25rem 1.25rem;
}
.footer-links .logo-wrapper {
	order: 6; /* pour déplacer le logo (et son wrapper) au dessous des liens dans footer. */
	width: max-content;
	align-self: center;
	margin-top: 1rem;
}
@media screen and (min-width: 768px) {
	footer {
		padding-top: 4.375rem;
	}
	footer.container {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.footer-links {
		margin-bottom: 3rem;
	}
	.footer-links .logo-wrapper {
		margin-top: 2rem;
	}
}
@media screen and (min-width: 992px) {
	footer::after {
		display: none;
	}
	footer .container-content {
		max-width: calc(var(--xl) + 2.8125rem);
	}
	.footer-links {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 5.9375rem;
	}
	.footer-links .select-wrapper {
		position: static;
		transform: none;
	}
	.footer-links .logo-wrapper {
		order: initial; /* Remet le logo (et son wrapper) à sa position initiale. */
		margin-top: 0;
	}
}

footer .socials {
	display: flex;
	justify-content: center;
	gap: 0.875rem;
	margin-bottom: 1.25rem;
}
footer .icon {
	background-color: var(--red);
}
@media screen and (min-width: 768px) {
	footer .socials {
		margin-bottom: 2.5rem;
	}
}

footer .copyright {
	text-align: center;
}

.audio-wrapper {
	position: fixed;
	display: flex;
	align-items: flex-end;
	flex-direction: row-reverse;
	gap: 1rem;
	right: 1rem;
	bottom: 1rem;
}
.audio-wrapper .icon {
	cursor: pointer;
	background-color: #fffafa8f;
	box-shadow: 0 3px 5px #0000008a;
	opacity: 0.5;
	transition: opacity ease 0.3s;
}
.audio-wrapper:hover .icon {
	opacity: 1;
}
.audio-wrapper audio {
	display: none;
}
.audio-wrapper:hover audio {
	display: block;
}
