:root {
	--red: #b11313;
	--white: #ffffff;
	--black: #000000;
	--blue: #114c92;

	/* min-width: 440px; */
	min-width: 390px;

	--sm: 576px;
	--md: 768px;
	--lg: 992px;
	--xl: 1110px;
}

/* GENERAL STYLE */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: var(--white);
	min-height: 100vh;
}
a,
a:active,
a:visited,
a:focus {
	color: inherit;
	text-decoration: none;
}
ul {
	list-style-type: none;
}

.container {
	width: 100%;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}
.container-content {
	margin: 0 auto;
	width: 100%;
	max-width: var(--sm);
}
/* between "md" and "lg" */
@media screen and (min-width: 768px) and (max-width: 992px) {
	.container-content {
		max-width: var(--md);
	}
}
/* between "lg" and "xl" */
@media screen and (min-width: 992px) and (max-width: 1110px) {
	.container-content {
		max-width: var(--lg);
	}
}
/* over "xl" */
@media screen and (min-width: 1110px) {
	.container-content {
		max-width: var(--xl);
	}
}

header {
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;
	height: 80vmin;
	position: relative;
}
header .container {
	padding-left: 2.125rem;
	padding-right: 2.125rem;
}
@media screen and (min-width: 768px) {
	header .container {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}
	header {
		height: 100vmin;
		min-height: 50vmax;
	}
}

.nav {
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}
.nav .container-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex: 1 1 100%;
}
.nav-links {
	display: none;
}
@media screen and (min-width: 768px) {
	.nav {
		background-color: var(--red);
		position: relative;
	}
	.nav-links {
		display: flex;
		gap: 8%;
		padding: 0.375rem 0;
		width: 100%;
		justify-content: flex-end;
	}
}

.banner {
	display: flex;
	align-items: center;
	height: 100%;
	background-image: url(/assets/images/img1.png),
		linear-gradient(var(--black), var(--red));
	background-repeat: no-repeat;
	background-position: 50% 100%; /* chose 50% to push the image rightward, in order to minimize overlap between the buttons and the image*/
	background-size: auto 100%;
	padding-top: 5.25rem;
	padding-bottom: 4rem;
}
.banner .container-content {
	display: flex;
	flex-direction: column;
}
.banner h1 {
	font-size: 2rem; /* temp */
	font-style: italic; /* temp */
	margin-bottom: 0.5rem;
}
.banner .description {
	font-size: 1rem;
	margin-bottom: 1.25rem;
}
.banner .btn-group {
	display: flex;
	gap: 0.75rem;
}
@media screen and (min-width: 440px) {
	.banner {
		background-position: 100%; /* put the background image back to its space because overlap is no longer feared */
	}
}
@media screen and (min-width: 576px) {
	.banner h1 {
		font-size: 3rem; /* temp */
		margin-bottom: 0.75rem;
	}
	.banner .description {
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}
}
@media screen and (min-width: 768px) {
	.banner h1 {
		font-size: 5rem; /* temp */
		margin-bottom: 5rem;
	}
	.banner .description {
		order: 2;
		font-size: 2rem;
	}
	.banner .btn-group {
		order: 1;
		margin-bottom: 2.5rem;
	}
}

.logo {
	height: 2.25rem;
	display: flex;
	align-items: center;
	gap: 0.75rem;
}
.logo img {
	height: 100%;
}
.logo .cross {
	height: 33%;
}
@media screen and (min-width: 768px) {
	.logo {
		height: 3.125rem;
	}
}

.btn {
	display: inline-block;
	border-radius: 1.5rem;
	padding: 0.75rem 1.25rem;
	font-size: 0.9rem;
}
.btn-white {
	color: var(--red) !important;
	background-color: var(--white);
	border: 1px solid var(--white);
}
.btn-outline {
	border: 1px solid var(--white);
}

@media screen and (min-width: 576px) {
	.btn {
		font-size: 1rem;
	}
}
@media screen and (min-width: 768px) {
	.btn {
		width: 12rem;
		min-width: max-content;
		text-align: center;
		font-size: 1.1rem;
		padding: 0.9rem 1.25rem;
	}
}

/* MAIN */
.main-section {
	text-align: center;
}
.main-section:nth-child(odd) {
	background-color: var(--red);
}
.main-section:nth-child(even) {
	background-color: var(--blue);
}
.main-section .title {
	font-size: 1.25rem; /* temp */
	margin-bottom: 0.875rem;
}
.main-section .description {
	margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
	.main-section .title {
		font-size: 2rem; /* temp */
		margin-bottom: 1.25rem;
	}
	.main-section .description {
		margin-bottom: 1.5rem;
	}
	.main-section .title,
	.main-section .description {
		width: 60%;
	}
	.main-section:nth-child(odd) .title,
	.main-section:nth-child(odd) .description {
		text-align: start;
	}
}
@media screen and (min-width: 992px) {
	.main-section .title,
	.main-section .description {
		width: 50%;
	}
}

.cards {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 1.5rem;
}
.card {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.card-img {
	margin-bottom: 1.25rem;
}
.card-img img {
	width: 60%;
	display: inline-block;
	max-width: 18.75rem;
}
.card-body {
	margin-bottom: 1.5rem;
}
.card-body li::before {
	content: ".";
	padding: 0 0.5rem;
	font-weight: 500;
	display: inline-block;
	transform: translateY(-25%);
}
.card-footer {
	margin-bottom: 4.375rem;
}
@media screen and (min-width: 768px) {
	.cards {
		justify-content: center;
		column-gap: 10%;
		padding-bottom: 3.5rem;
	}
	.card {
		width: 45%;
	}
	.card-body {
		text-align: justify;
		margin-bottom: 2.5rem;
	}
	.card-img {
		margin-bottom: 2.5rem;
	}
	.card-img img {
		width: 100%;
		max-width: 100%;
	}
}
@media screen and (min-width: 992px) {
	.cards {
		justify-content: space-between;
		column-gap: 0%;
	}
	.card {
		width: 28%;
	}
}
