@font-face {
	font-family: FarFromHomecoming;
	src: url(../assets/Typo-FarFromHomecoming.woff2) format("woff2");
}

:root {
	/* colors */
	--red: #b11313;
	--white: #ffffff;
	--black: #000000;
	--blue: #114c92;

	/* breakpoints */
	--sm: 576px;
	--md: 768px;
	--lg: 992px;
	--xl: 1110px;

	min-width: 390px;
}

/* GENERAL STYLE */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: var(--white);
	min-height: 100vh;
}
a,
a:active,
a:visited,
a:focus {
	color: inherit;
	text-decoration: none;
}
ul {
	list-style-type: none;
}

/* We use both '.container' and '.container-content' to avoid code repetion when aligning the left and right of different sections */
.container {
	width: 100%;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}
.container-content {
	margin: 0 auto;
	width: 100%;
	max-width: var(--sm);
}
/* between "md" and "lg" */
@media screen and (min-width: 768px) and (max-width: 992px) {
	.container-content {
		max-width: var(--md);
	}
}
/* between "lg" and "xl" */
@media screen and (min-width: 992px) and (max-width: 1110px) {
	.container-content {
		max-width: var(--lg);
	}
}
/* over "xl" */
@media screen and (min-width: 1110px) {
	.container-content {
		max-width: var(--xl);
	}
}

header {
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;
	position: relative;
}
header .container {
	padding-left: 2.125rem;
	padding-right: 2.125rem;
}
@media screen and (min-width: 768px) {
	header {
		height: 100vmin;
		min-height: 50vmax;
	}
	header .container {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}
}

.nav {
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}
.nav .container-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex: 1 1 100%;
}
.nav-links {
	display: none;
}
@media screen and (min-width: 768px) {
	.nav {
		background-color: var(--red);
		position: relative;
	}
	.nav-links {
		display: flex;
		justify-content: flex-end;
		gap: 8%;
		width: 100%;
		padding: 0.375rem 0;
		font-size: 1rem;
	}
}
@media screen and (min-width: 992px) {
	.nav-links {
		font-size: 1.25rem;
	}
}

.banner {
	display: flex;
	align-items: center;
	height: 100%;
	background-image: url(/assets/images/img1.png),
		linear-gradient(var(--black), var(--red));
	background-repeat: no-repeat;
	background-position: 50% 100%; /* chose 50% to push the image rightward, in order to minimize overlap between the buttons and the image*/
	background-size: auto 100%;
	padding-top: 5.25rem;
	padding-bottom: 4rem;
}
.banner .container-content {
	display: flex;
	flex-direction: column;
}
.banner .title {
	font-size: 2rem; /* temp */
	font-family: FarFromHomecoming;
	margin-bottom: 0.5rem;
}
.banner .description {
	font-size: 1rem;
	margin-bottom: 1.25rem;
}
.banner .btn-group {
	display: flex;
	gap: 0.75rem;
}
@media screen and (min-width: 440px) {
	.banner {
		background-position: 100%; /* put the background image back to its place because overlap is no longer an issue from this point on. */
	}
}
@media screen and (min-width: 576px) {
	.banner h1 {
		font-size: 3rem; /* temp */
		margin-bottom: 0.75rem;
	}
	.banner .description {
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}
}
@media screen and (min-width: 768px) {
	.banner .title {
		font-size: 5rem; /* temp */
		margin-bottom: 5rem;
	}
	.banner .description {
		order: 2;
		font-size: 2rem;
	}
	.banner .btn-group {
		order: 1;
		margin-bottom: 2.5rem;
	}
}
@media screen and (min-width: 992px) {
	.banner {
		flex: 1 0 100%;
	}
}

.logo {
	height: 2.25rem;
	display: flex;
	align-items: center;
	gap: 0.75rem;
}
.logo img {
	height: 100%;
}
.logo .cross {
	height: 33%;
}
@media screen and (min-width: 768px) {
	.logo {
		height: 2.75rem;
	}
}
@media screen and (min-width: 992px) {
	.logo {
		height: 3.125rem;
	}
}

.btn {
	display: inline-block;
	border-radius: 1.5rem;
	padding: 0.75rem 1.25rem;
	font-size: 0.9rem;
	cursor: pointer;
}
.btn-white {
	color: var(--red) !important;
	background-color: var(--white);
	border: 1px solid var(--white);
}
.btn-outline {
	border: 1px solid var(--white);
	color: var(--white);
	background-color: transparent;
}
@media screen and (min-width: 576px) {
	.btn {
		font-size: 1rem;
	}
}
@media screen and (min-width: 768px) {
	.btn {
		width: 12rem;
		min-width: max-content;
		text-align: center;
		font-size: 1.1rem;
		padding: 0.9rem 1.25rem;
	}
}

.input {
	display: block;
	padding: 0.5rem 1rem;
	border-radius: 2rem;
	outline: none;
	font: inherit;
}
.input-white {
	background-color: var(--white);
	border: 1px solid var(--black);
}
.input-white::placeholder {
	color: var(--black);
}
.input-outline {
	color: var(--white);
	border: 1px solid var(--white);
	background-color: transparent;
}
.input-outline::placeholder {
	color: var(--white);
}

.main-section {
	text-align: center;
}
.main-section:nth-child(odd) {
	background-color: var(--red);
}
.main-section:nth-child(even) {
	background-color: var(--blue);
}
.main-section .title {
	font-size: 1.25rem; /* temp */
	margin-bottom: 0.875rem;
}
.main-section .description {
	margin-bottom: 2rem;
}
.main-section form {
	width: 100%;
	padding: 0 3% 0 5%;
}
.main-section#main-section-2 {
	padding-top: 5rem;
	padding-bottom: 3.75rem;
	background-image: url(../assets/images/img5.png);
	background-position: center left;
	background-repeat: no-repeat;
	background-size: auto 100%;
}
.main-section#main-section-2 .description {
	margin-bottom: 1.875rem;
}
.main-section#main-section-2 .input {
	width: 100%;
	margin-bottom: 1rem;
}
.main-section#main-section-3 {
	padding-top: 2.5rem;
	padding-bottom: 2.8125rem;
	/* we'll use both "::before" and "::after" to properly position the image used as background for this section */
	/* so remove the background color from the element and we'll reapply it using its "::before" and "::after"" */
	background-color: transparent;
	position: relative;
	overflow: hidden;
}
.main-section#main-section-3::before,
.main-section#main-section-3::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: var(--red);
}
.main-section#main-section-3::after {
	background-image: url(../assets/images/img6.png);
	background-size: auto 60%;
	background-repeat: no-repeat;
	background-position: center bottom;
	transform: translateX(33%); /* it's needed to push the image rightward */
}
.main-section#main-section-3 .description {
	margin-bottom: 3.75rem;
}
.main-section#main-section-3 .input,
.main-section#main-section-3 .check-group {
	width: 70%;
}
.main-section#main-section-3 .input {
	margin-bottom: 0.625rem;
}
.main-section#main-section-3 .check-group {
	display: grid;
	grid-template-columns: max-content 100%;
	text-align: start;
	align-items: baseline;
	margin: 2.5rem 0 2.8125rem 0;
}
.main-section#main-section-3 .check-group a {
	text-decoration: underline;
	white-space: nowrap;
}
.main-section#main-section-3 input[type="checkbox"] {
	margin: 0 0.875rem;
}
.main-section#main-section-2 .input:last-of-type {
	margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
	.main-section .title {
		font-size: 2rem; /* temp */
		margin-bottom: 1.25rem;
	}
	.main-section .description {
		margin-bottom: 1.5rem;
	}
	.main-section .title,
	.main-section .description {
		width: 60%;
	}
	.main-section:nth-child(odd) .title,
	.main-section:nth-child(odd) .description {
		text-align: start;
	}
	.main-section:nth-child(even) .title,
	.main-section:nth-child(even) .description {
		text-align: end;
		margin-left: auto;
		margin-right: 0;
	}
	.main-section#main-section-1 {
		/* At this breakpoint, the foot of Spiderman (in the header background image) overflows, so it's hidden below this element. */
		/* To get around that,  */
		/* - we need to remove the background color from this element in order to show the Spiderman's foot, yet we keep the text content shown. */
		/* - we can restore the background color with its ::before, with z-index negative. */
		position: relative;
		background-color: transparent;
	}
	.main-section#main-section-1::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-color: var(--red);
	}
	.main-section#main-section-2 {
		padding-top: 4.375rem;
		padding-bottom: 5.3125rem;
	}
	.main-section form {
		width: 50%;
		padding: 0%;
	}
	.main-section#main-section-2 form {
		margin: 0 4.5% 0 auto;
	}
	.main-section#main-section-3 {
		padding-top: 4rem;
		padding-bottom: 8rem;
	}
	.main-section#main-section-3 .description {
		margin-bottom: 4.375rem;
	}
	.main-section#main-section-3 .input,
	.main-section#main-section-3 .check-group {
		width: 100%;
	}
	.main-section#main-section-3::after {
		background-size: auto 100%;
	}
}
@media screen and (min-width: 992px) {
	.main-section .title,
	.main-section .description {
		width: 50%;
	}
	.main-section form {
		width: 33%;
		padding: 0%;
	}
	.main-section#main-section-3 {
		padding-top: 6.875rem;
		padding-bottom: 17.8125rem;
	}
}

.cards {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 1.5rem;
}
.card {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.card-img {
	margin-bottom: 1.25rem;
}
.card-img img {
	width: 60%;
	display: inline-block;
	max-width: 18.75rem;
}
.card-body {
	margin-bottom: 1.5rem;
}
.card-body li::before {
	/* to restore the list-style */
	content: ".";
	display: inline-block;
	font-weight: 500;
	padding: 0 0.5rem;
	transform: translateY(-25%);
}
.card-footer {
	margin-bottom: 4.375rem;
}
@media screen and (min-width: 768px) {
	.cards {
		justify-content: center;
		column-gap: 10%;
		padding-bottom: 3.5rem;
	}
	.card {
		width: 45%;
	}
	.card-body {
		text-align: justify;
		margin-bottom: 2.5rem;
	}
	.card-img {
		margin-bottom: 2.5rem;
	}
	.card-img img {
		width: 100%;
		max-width: 100%;
	}
}
@media screen and (min-width: 992px) {
	.cards {
		justify-content: space-between;
		column-gap: 0%;
	}
	.card {
		width: 28%;
	}
}

footer {
	background-color: var(--black);
	padding-top: 2.8125rem;
	padding-bottom: 1.875rem;
	position: relative;
}
footer::after {
	/* we use this to draw the line at the end of the page in mobile device. */
	content: "";
	width: 30%;
	height: 0.3rem;
	border-radius: 0.5rem;
	background-color: var(--white);
	position: absolute;
	bottom: 0.625rem;
	left: 50%;
	transform: translateX(-50%);
}
footer.container {
	padding-left: 2rem;
	padding-right: 2rem;
}
.footer-links {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 1.875rem;
}
.footer-links li {
	margin-bottom: 0.5rem;
}
.footer-links .select-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	transform: translateY(50%);
}
.footer-links select {
	color: var(--white);
	background-color: var(--red);
	border: none;
	outline: none;
	padding: 0.25rem 1.25rem;
	border-radius: 1.25rem;
}
.footer-links .logo-wrapper {
	order: 6;
	width: max-content;
	align-self: center;
	margin-top: 1rem;
}
@media screen and (min-width: 768px) {
	footer {
		padding-top: 4.375rem;
	}
	.footer-links {
		margin-bottom: 3rem;
	}
	.footer-links .logo-wrapper {
		margin-top: 2rem;
	}
}
@media screen and (min-width: 992px) {
	footer::after {
		display: none;
	}
	footer .container-content {
		max-width: calc(var(--xl) + 2.8125rem);
	}
	.footer-links {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 5.9375rem;
	}
	.footer-links .select-wrapper {
		position: static;
		transform: none;
	}
	.footer-links .logo-wrapper {
		order: initial;
		margin-top: 0;
	}
}

footer .socials {
	display: flex;
	justify-content: center;
	gap: 0.875rem;
	margin-bottom: 1.25rem;
}
footer .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: var(--red);
}
@media screen and (min-width: 768px) {
	footer .icon {
		width: 2.5rem;
		height: 2.5rem;
	}
	footer .socials {
		margin-bottom: 2.5rem;
	}
}

footer .copyright {
	text-align: center;
}
